@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

@font-face {
	font-family: 'PFFuturaNeuBook';
	  src: url('../fonts/PFFuturaNeuBook-Regular.eot');
	  src: url('../fonts/PFFuturaNeuBook-Regular.eot?#iefix') format('embedded-opentype'),
	       url('../fonts/PFFuturaNeuBook-Regular.woff') format('woff'),
	       url('../fonts/PFFuturaNeuBook-Regular.ttf') format('truetype'),
	       url('../fonts/PFFuturaNeuBook-Regular.svg#PFFuturaNeuBook-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PFFuturaNeuMedium';
	  src: url('../fonts/PFFuturaNeuMedium-Regular.eot');
	  src: url('../fonts/PFFuturaNeuMedium-Regular.eot?#iefix') format('embedded-opentype'),
	       url('../fonts/PFFuturaNeuMedium-Regular.woff') format('woff'),
	       url('../fonts/PFFuturaNeuMedium-Regular.ttf') format('truetype'),
	       url('../fonts/PFFuturaNeuMedium-Regular.svg#PFFuturaNeuMedium-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}


:focus {outline: none;}
.d-none {display: none !important}
.d-block {display: block;}
.d-inline-block {display: inline-block !important;}
.f-left {float: left !important}
.f-right {float: right !important}
.f-none {float: none !important}
.ta-left {text-align: left !important;}
.ta-right {text-align: right !important;}
.ta-center {text-align: center !important;}
.mt-0 {margin-top: 0px !important;}
.mt-10 {margin-top: 10px !important;}
.mt-20 {margin-top: 20px !important;}
.mb-25 {margin-bottom: 25px !important;}
.mt-30 {margin-top: 30px !important;}
.mt-50 {margin-top: 50px !important;}
.mt-70 {margin-top: 70px !important;}
.mt-100 {margin-top: 100px !important;}
.mt-120 {margin-top: 120px !important;}
.only {padding-left: 0; padding-right: 0;}
.first {padding-left: 0;}
.last {padding-right: 0;}
.p-relative {position: relative;}
.p-absolute {position: absolute;}
.fz-90 {font-size: 90px;}

:hover {
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}

a.selected {font-weight: bold;}

.serif {font-family: 'Playfair Display', serif;}

.page-header {
	background: url('../images/header-bg.jpg') 50% 0% no-repeat;
	background-size: contain;
}

footer {
	background: url('../images/footer-bg.jpg') 50% 100% no-repeat;
	background-size: cover;

}

.banana-slide-text p {
	color: #252623;
}

.nav > li > a:hover {color: #999999}

.site__nav {
	margin-top: 40px;
	font-family: 'PFFuturaNeuBook', sans-serif;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.21;
	letter-spacing: 1.5px;; 
	text-align: left;
	color: #252623;
}

.nav--bar > li,
.nav--pills > li,
.nav--tabs > li {
	display: inline-block;
	vertical-align: top;
}

.site__nav .nav > li {
	margin: 0 5px;
}

.border-left {
	border-left: 2px solid #d5c5ad;
}

.home-slide-text {
	padding-left: 60px;
}

.home-slide-img {
	/*border-bottom: 2px solid #e2d7c6;*/
	padding: 30px;
}

.home-slide-img img {
	box-shadow: 0px 0px 50px 0px rgba(0,0,0,.3);
}

.home-slide-img:after {
	content: "";
	height: 2px;
	width: calc(100% - 60px);
	background: #e2d7c6;
	display: block;
	position: absolute;
	bottom: 0px;
}

.footer .nav.item {
	display: inline-block;
	font-family: 'PFFuturaNeuBook', sans-serif;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.17;
	letter-spacing: 1.5px;
	color: #252623;
	padding:24px;
}

.page-footer {
	height: auto;
}

.footer.links{
	margin-bottom: 0;
}

.contact-map:after {
	content: "";
	background: url(../images/circles-bg-contact.svg) no-repeat 0% 100%; 
	position: absolute;
	width:40%;
	height: 100%;
	bottom: -50px;
	left: -25px;
	z-index: -1
}

.contact:before {
	content: "FIND US";
	font-family: 'PFFuturaNeuMedium', sans-serif;
	font-weight: normal;
	font-style: normal;
	line-height: 1.2;
	font-size: 120px;
	text-align: left;
	color: #f1f1f1;
	position: absolute;
	top:-70px;
	left:0px;
}

.page-header .site__nav ul li a.selected {
	font-weight: normal;
	font-family: 'PFFuturaNeuMedium', sans-serif;
}

.page-header .site__nav ul li a.selected:after,
.footer .nav.item a.selected:after {
	content: "";
    width: 5px;
    height: 5px;
    background-color: #252623;
    border-radius: 100%;
    display: block;
    position: relative;
    float: none;
    margin: auto;
    margin-top: 10px;
}

.text-img h3,
.banana-slide-text h3,
.home-slider1 h2,
.contact-form h3 {
	font-size: 40px;
	margin-bottom: 56px;
}

.text-img p {
	max-width: 550px;
}

.container {
	float: none;
}

.about-us-img img {
	padding-right: 80px;
	padding-bottom: 90px;
}

.about-us-img:after {
	content: "";
	background: url('../images/bg-pattern-about.svg') no-repeat 100% 100%;
	position: absolute;
	width: 100%;
	height: 100%;
	display: inline-block;
	right: 25px;
	bottom: 0;
	z-index: -1;
}

h1.banana-h1,
.banana-slide-right h2 {
	font-family: 'PFFuturaNeuMedium', sans-serif;
	font-size: 186px;
	font-weight: normal;
	letter-spacing: 0.8px;
	color: #f7f1e9;
	position: absolute;
	top: -140px;
	left: -60px;
	z-index: -1;
}

.banana-slide-right h2 {
	color: #f1f1f1;
	left: 80px;
	top: -100px;
}

.banana-slide-text p,
.text-img p  {
	font-size: 18px;
}

.rotate-90 {
	-webkit-transform: rotate(-90deg) translate(-50%,-100%);
	-ms-transform: rotate(-90deg) translate(-50%,-100%);
	transform: rotate(-90deg) translate(-50%,-100%);
}

.banana-left-circle {
	width: 100%;
	top: 0;
	left: 0;
}

.banana-slide-right .thumbs img {
	margin: 100px 0;
}

.owl-carousel .owl-item img.col-xs-4 {
	width: 33.333%;
}

.owl-item > div[class^="banana-slide-"] {
	display: inline-block;
	background: url(../images/cut-circles-left.png) no-repeat 0 0;
	background-size: contain;
}

.banana-slider .owl-nav,
.home-slider1 .owl-nav {
	position: absolute;
	top: 50px;
	right: calc(50% - 40px);
	right: 33.3vw;
}

.home-slider1 {
	padding: 0 60px 0 0;
}

.home-slider1 .owl-nav {
	top: 50%;
	left: 0;
	width: 100%;
	-webkit-transform: translate(0,-50%);
	-ms-transform: translate(0,-50%);
	transform: translate(0,-50%);
}

.home-slider1 .owl-nav > * {
	position: absolute;
	margin: 0;
}

.home-slider1 .owl-nav .owl-prev {
	display: none;
}

.home-slider1 .owl-nav .owl-next {
	right: 0;
}

.home-slider1 .owl-nav > button,
.banana-slider .owl-nav > button {
	width: 72px;
	height: 72px;
	margin: 8px;
	border: 2px solid #000000 !important;
	border-radius: 100%;
	font-size: 24px !important;
}

.banana-slide-right {
	margin-top: 160px;
}

.banana-slide-text p {
	margin-bottom: 26px;
}

.banana-slider {
	margin-bottom: 100px;
}

.banana-slide-photos img:first-child {
	-webkit-box-shadow: 0 -7px 36px rgba(0,0,0,.1);
	-moz-box-shadow: 0 -7px 36px rgba(0,0,0,.1);
	box-shadow: 0 -7px 36px rgba(0,0,0,.1);
}

.contact-form label,
.contact-btn {
	font-family: 'PFFuturaNeuMedium', sans-serif;
	color: #d5c5ad;
	font-size: 18px;
	font-weight: normal;
}

.contact-form form label,
.contact-form form input[type="text"],
.contact-form form textarea,
.contact-form form select {
	width: 100%;
}

.contact-form form input[type="text"],
.contact-form form textarea,
.contact-form form select {
	border: none;
	border-bottom: solid 1px #252623;
	padding: 5px 0 11px;
}

.contact-btn {
	padding: 17px 70px;
	background: transparent;
	border: 2px solid #d5c5ad;
	color: #252525;
	text-transform: uppercase;
}

.contact-btn:hover {
	box-shadow: inset 0 -70px #d5c5ad;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}

.contact-btn:after {
	content: "";
	width: 120px;
	height: 2px;
	background: #252525;
	position: absolute;
	right: -100px;
	top: 16px;
}

.contact-map iframe {
	width: 100%;
	height: 650px;
	border: none;
	-webkit-box-shadow: 0 0px 36px rgba(0,0,0,.2);
	-moz-box-shadow: 0 0px 36px rgba(0,0,0,.2);
	box-shadow: 0 0px 36px rgba(0,0,0,.2);
}

.contact-map {
	padding-bottom: 40px;
}

.owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-prev:hover {
	opacity: 0.7;
}




/*   RESPONSIVE   */

/* mobile */
@media (max-width: 767px) {

	.xs-ta-left {text-align: left !important;}
	.xs-ta-right {text-align: right !important;}
	.xs-ta-center {text-align: center !important;}

}

/* tablet portait */
@media (min-width: 768px) {

	.logo {
		width: 175px;
	}

	.site__nav {
		width: calc(100% - 180px);
	}
}

@media (min-width: 768px) and (max-width: 1023px) {

	.sm-f-right {float: right;}
	.sm-f-left {float: left;}
	.sm-f-none {float: none;}

	.sm-ta-left {text-align: left !important;}
	.sm-ta-right {text-align: right !important;}
	.sm-ta-center {text-align: center !important;}

	.logo {
		width: 120px;
	}

	.logo img {
		max-width: 120px;
		height: auto;
	}

	.site__nav {
		width: calc(100% - 120px);
	}

	.nav>li>a {
		padding: 15px 6px;
		font-size: 10px;
	}

	.text-img h3,
	.banana-slide-text h3 {
		font-size: 28px;
	}

	.banana-slide-text p,
	.text-img p {
		font-size: 14px;
	}

	h1.banana-h1, .banana-slide-right h2 {
		font-size: 120px;
	}

}

/* tablet landscape */
@media (min-width: 1024px) and (max-width: 1199px) {

	.md-ta-left {text-align: left !important;}
	.md-ta-right {text-align: right !important;}
	.md-ta-center {text-align: center !important;}

}

/* desktop */
@media (min-width: 1200px) {

	.container {
		max-width: 1600px;
	}

	.border-left {
		padding-left: 70px;
	}

	.banana-slide-photos {
		margin-top: 220px;
	}

	.contact-form form {
		padding-right: 70px;
	}
	
}