@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

@font-face {
	font-family: 'PFFuturaNeuBook';
	  src: url('../fonts/PFFuturaNeuBook-Regular.eot');
	  src: url('../fonts/PFFuturaNeuBook-Regular.eot?#iefix') format('embedded-opentype'),
	       url('../fonts/PFFuturaNeuBook-Regular.woff') format('woff'),
	       url('../fonts/PFFuturaNeuBook-Regular.ttf') format('truetype'),
	       url('../fonts/PFFuturaNeuBook-Regular.svg#PFFuturaNeuBook-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PFFuturaNeuMedium';
	  src: url('../fonts/PFFuturaNeuMedium-Regular.eot');
	  src: url('../fonts/PFFuturaNeuMedium-Regular.eot?#iefix') format('embedded-opentype'),
	       url('../fonts/PFFuturaNeuMedium-Regular.woff') format('woff'),
	       url('../fonts/PFFuturaNeuMedium-Regular.ttf') format('truetype'),
	       url('../fonts/PFFuturaNeuMedium-Regular.svg#PFFuturaNeuMedium-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}


:focus {outline: none;}
.d-none {display: none !important}
.d-block {display: block;}
.d-inline-block {display: inline-block !important;}
.f-left {float: left !important}
.f-right {float: right !important}
.f-none {float: none !important}
.ta-left {text-align: left !important;}
.ta-right {text-align: right !important;}
.ta-center {text-align: center !important;}
.mt-0 {margin-top: 0px !important;}
.mt-10 {margin-top: 10px !important;}
.mt-20 {margin-top: 20px !important;}
.mb-25 {margin-bottom: 25px !important;}
.mt-30 {margin-top: 30px !important;}
.mt-50 {margin-top: 50px !important;}
.mt-60 {margin-top: 60px !important;}
.mt-70 {margin-top: 70px !important;}
.mt-100 {margin-top: 100px !important;}
.mt-120 {margin-top: 120px !important;}
.mt-200 {margin-top: 200px !important;}
.mt-300 {margin-top: 300px !important;}
.mb-10 {margin-bottom: 10px !important;}
.mb-50 {margin-bottom: 50px !important;}
.pt-50 {padding-top: 50px !important;}
.only {padding-left: 0; padding-right: 0;}
.first {padding-left: 0;}
.last {padding-right: 0;}
.p-relative {position: relative;}
.p-absolute {position: absolute;}
.fz-12 {font-size: 12px;}
.fz-16 {font-size: 16px;}
.fz-18 {font-size: 18px;}
.fz-24 {font-size: 24px;}
.fz-40 {font-size: 40px;}
.fz-90 {font-size: 90px;}
.c-000 {color: #000000;}
.c-charcoal {color: #252623;}

:hover {
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}

a.selected {font-weight: bold;}

.serif {font-family: 'Playfair Display', serif;}

.page-header {
	background: url('../images/header-bg.jpg') 50% 0% no-repeat;
	background-size: contain;
}

footer {
	background: url('../images/footer-bg.jpg') 50% 100% no-repeat;
	background-size: cover;

}

.banana-slide-text p {
	color: #252623;
}

.nav > li > a:hover {color: #999999}

.site__nav {
	margin-top: 40px;
	font-family: 'PFFuturaNeuBook', sans-serif;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.21;
	letter-spacing: 1.5px;; 
	text-align: left;
	color: #252623;
}

.nav--bar > li,
.nav--pills > li,
.nav--tabs > li {
	display: inline-block;
	vertical-align: top;
}

.site__nav .nav > li {
	margin: 0 5px;
}

.border-left {
	border-left: 2px solid #d5c5ad;
}

.home-slide-text {
	padding-left: 60px;
}

.home-slider1-img {
	padding: 30px;
}

.home-slider1-img img {
	-webkit-box-shadow: 0px 0px 50px 0px rgba(0,0,0,.3);
	-moz-box-shadow: 0px 0px 50px 0px rgba(0,0,0,.3);
	box-shadow: 0px 0px 50px 0px rgba(0,0,0,.3);
}

.home-slider1-img:after {
	content: "";
	height: 2px;
	width: calc(100% - 60px);
	background: #e2d7c6;
	display: block;
	position: absolute;
	bottom: 0px;
}

.home-slider2.owl-carousel button.owl-dot {
	background: #000000;
	width: 14px;
	height: 14px;
	border-radius: 100%;
	margin: 7px;
	opacity: 0.5;
}

.home-slider2.owl-carousel button.owl-dot.active {
	opacity: 1;
}

.home-main2 .owl-dots,
.home-slide2-title,
.home-slide3-title {
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
	position: absolute;
	left: -15px;
	top: 50%;
	width: auto;
}

.home-main2 .home-slider2:before {
	content: "";
	position: absolute;
	right: 50px;
	right: 5vw;
	top: -50px;
	width: 214px;
	width: 16vw;
	max-width: 214px;
	height: 214px;
	background: url(../images/patch-1.svg) no-repeat 50% 0;
	z-index: 1;
	pointer-events: none;
}

.home-slide2-title {
	top: calc(50% - 80px);
	left: -75px;
}

.home-slide3-title {
	top: calc(50% - 80px);
	left: -60px;
}

.home-main2 img {
	padding-left: 15px;
}

.home-slider3-img {
	padding-right: 90px;
	padding-bottom: 110px;
	padding-left: 30px;
}

.home-slider3-img:after {
	content: "";
	background: url('../images/bg-map-lines.svg') no-repeat 100% 100%;
	width: 100%;
	height: 30vw;
	display: inline-block;
	position: absolute;
	right: 45px;
	bottom: -10px;
	z-index: -1;
}

.footer .nav.item {
	display: inline-block;
	font-family: 'PFFuturaNeuBook', sans-serif;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.17;
	letter-spacing: 1.5px;
	color: #252623;
	padding:24px;
}

.page-footer {
	height: auto;
}

.footer.links{
	margin-bottom: 0;
}

.contact-map:after,
body.page-ammos-shop .main-content > .container:after,
.events-main-gallery:after {
	content: "";
	background: url(../images/circles-bg-contact.svg) no-repeat 0% 100%; 
	position: absolute;
	width:40%;
	height: 100%;
	bottom: -50px;
	left: -25px;
	z-index: -1
}

body.page-ammos-shop .main-content > .container:after {
	left: auto;
	right: -30px;
	top: 40vh;
	height: -webkit-fill-available;
}

.events-main-gallery:after {
	left: auto;
	right: -10px;
}

body.page-ammos-shop .main-content > .container {
	overflow: hidden;
}

.contact:before {
	content: "FIND US";
	font-family: 'PFFuturaNeuMedium', sans-serif;
	font-weight: normal;
	font-style: normal;
	line-height: 1.2;
	font-size: 120px;
	text-align: left;
	color: #f1f1f1;
	position: absolute;
	top:-70px;
	left:0px;
}

.font-medium,
.page-header .site__nav ul li a.selected,
.events-main-text .date-events,
.events-main-text h2 {
	font-weight: normal;
	font-family: 'PFFuturaNeuMedium', sans-serif;
}

.font-book,
.events-main-text p {
	font-family: 'PFFuturaNeuBook', sans-serif;
	font-weight: normal;
}


.page-header .site__nav ul li a.selected:after,
.footer .nav.item a.selected:after {
	content: "";
    width: 5px;
    height: 5px;
    background-color: #252623;
    border-radius: 100%;
    display: block;
    position: relative;
    float: none;
    margin: auto;
    margin-top: 10px;
}

.text-img h3,
.banana-slide-text h3,
.home-slider1 h2,
.contact-form h3,
h2.title,
h3.title {
	font-size: 40px;
	margin-bottom: 56px;
}

.text-img p {
	max-width: 550px;
}

.container {
	float: none;
}

.about-us-img img {
	padding-right: 80px;
	padding-bottom: 90px;
}

.about-us-img:after {
	content: "";
	background: url('../images/bg-pattern-about.svg') no-repeat 100% 100%;
	position: absolute;
	width: 100%;
	height: 100%;
	display: inline-block;
	right: 25px;
	bottom: 0;
	z-index: -1;
}

h1.banana-h1,
.banana-slide-right h2,
h2.title-island,
h2.title-experiences,
h3.gallery-title {
	font-family: 'PFFuturaNeuMedium', sans-serif;
	font-size: 186px;
	font-size: 10vw;
	font-weight: normal;
	letter-spacing: 0.8px;
	color: #f7f1e9;
	position: absolute;
	top: -140px;
	left: -30px;
	z-index: -1;
}

h2.title-experiences {
	color: #f7f1e9;
	line-height: 170px;
	line-height: 10vw;
	top: -320px;
	top: -19vw;
}

.banana-slide-right h2,
h3.gallery-title {
	color: #f1f1f1;
	left: 80px;
	top: -100px;
}

h3.gallery-title {
	left: -50px;
}

.banana-slide-text p,
.text-img p  {
	font-size: 18px;
}

.rotate-90 {
	-webkit-transform: rotate(-90deg) translate(-50%,-100%);
	-ms-transform: rotate(-90deg) translate(-50%,-100%);
	transform: rotate(-90deg) translate(-50%,-100%);
}

.banana-left-circle {
	width: 100%;
	top: 0;
	left: 0;
}

.banana-slide-right .thumbs img {
	margin: 100px 0;
}

.owl-carousel .owl-item img.col-xs-4 {
	width: 33.333%;
}

.owl-item > div[class^="banana-slide-"] {
	display: inline-block;
	background: url(../images/cut-circles-left.png) no-repeat 0 0;
	background-size: contain;
}

.home-slider1 .owl-nav,
.home-slider3 .owl-nav {
	position: absolute;
	top: 50px;
	right: calc(50% - 40px);
	right: 33.3vw;
}

.home-slider1 {
	padding: 0 60px 0 0;
}

.home-slider1 .owl-nav,
.home-slider3 .owl-nav {
	top: 50%;
	left: 0;
	width: 100%;
	-webkit-transform: translate(0,-50%);
	-ms-transform: translate(0,-50%);
	transform: translate(0,-50%);
}

.home-slider3 .owl-nav,
.banana-slider .owl-nav {
	top: -50px;
	left: 50%;
	padding-left: 55px;
	display: inline-block;
	right: auto;
	width: auto;
	text-align: center;
}

.banana-slider .owl-nav {
	position: absolute;
	top: 50px;
	padding-left: 15px;
}

.home-slider1 .owl-nav > * {
	position: absolute;
	margin: 0;
}

.home-slider1 .owl-nav .owl-prev {
	display: none;
}

.home-slider1 .owl-nav .owl-next {
	right: 0;
}

.home-slider1 .owl-nav > button,
.banana-slider .owl-nav > button,
.home-slider3 .owl-nav > button {
	width: 72px;
	height: 72px;
	margin: 8px;
	border: 2px solid #000000 !important;
	border-radius: 100%;
	font-size: 24px !important;
}

.banana-slide-right {
	margin-top: 160px;
}

.banana-slide-text p {
	margin-bottom: 26px;
}

.banana-slider {
	margin-bottom: 100px;
}

.banana-slide-photos img:first-child {
	-webkit-box-shadow: 0 -7px 36px rgba(0,0,0,.1);
	-moz-box-shadow: 0 -7px 36px rgba(0,0,0,.1);
	box-shadow: 0 -7px 36px rgba(0,0,0,.1);
}

.contact-form label,
.contact-btn,
.explore-btn {
	font-family: 'PFFuturaNeuMedium', sans-serif;
	color: #d5c5ad;
	font-size: 18px;
	font-weight: normal;
}

.contact-form form label,
.contact-form form input[type="text"],
.contact-form form textarea,
.contact-form form select,
.product img {
	width: 100%;
}

.contact-form form input[type="text"],
.contact-form form textarea,
.contact-form form select {
	border: none;
	border-bottom: solid 1px #252623;
	padding: 5px 0 11px;
}

.contact-btn,
.explore-btn {
	padding: 17px 20px;
	background: transparent;
	border: 2px solid #d5c5ad;
	color: #252525;
	text-transform: uppercase;
	display: inline-block;
	width: 195px;
	text-align: center;
}

.contact-btn:hover,
.explore-btn:hover {
	box-shadow: inset 0 -70px #d5c5ad;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}

.contact-btn:after,
.explore-btn:after {
	content: "";
	width: 120px;
	height: 2px;
	background: #252525;
	position: absolute;
	right: -100px;
	top: 16px;
}

.contact-map iframe {
	width: 100%;
	height: 650px;
	border: none;
	-webkit-box-shadow: 0 0px 36px rgba(0,0,0,.2);
	-moz-box-shadow: 0 0px 36px rgba(0,0,0,.2);
	box-shadow: 0 0px 36px rgba(0,0,0,.2);
}

.contact-map {
	padding-bottom: 40px;
}

.owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-prev:hover {
	opacity: 0.7;
}

.filter-content .filter,
.prod-tag {
	display: inline-block;
	border-radius: 3px;
	background-color: #f1f1f1;
	padding: 3px 8px;
	margin: 4px 6px 4px 0;
	color: #999999;
}

.filter-content .filter.selected,
.filter-content .filter:hover,
.prod-tag:hover {
	color: #252623;
	background-color: #c7c7c7;
}

.filter-content .filter.selected {
	display: table;
}

.grid {
	
}

.grid:after {
	content: '';
	display: block;
	clear: both;
}

.grid-item {
	width: 33.33%;
	height: auto;
	padding: 0 15px;
	float: left;
	margin-bottom: 25px;
}

body.page-ammos-shop .main-content > .container .right-column > img {
	width: 100%;
	max-width: 327px;
}

.date-events {
	color: #c7c7c7;
	font-size: 14px;
	margin: 30px 0 20px;
}

.gallery-grid a > img,
.events-more-wrapper img {
	width: 100%;
}

.gallery-grid > a {
	padding: 25px;
}

.more-events-text-wrapper > a {
	display: block;
}

.more-events-text-wrapper {
	background: #fff;
	width: calc(100% - 30px);
	padding: 0 30px 30px;
	display: inline-block;
	margin: -30px auto 30px;
	float: none;
	text-align: left;
	-webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.09);
	-moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.09);
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.09);
	position: relative;
}

.more-events-text-wrapper .continue-reading {
	color: #c7c7c7;
	margin-top: 20px;
}

.more-events-text-wrapper .continue-reading:before {
	content: "";
	width: 7px;
	height: 7px;
	border-radius: 100%;
	border: 2px solid #91c9cc;
	display: inline-block;
	margin-right: 5px;
}

.more-events-title {
	color: #252623;
	min-height: 68px;
}

.contact-events {
	background-size: 6px;
	background-repeat: repeat-y;
	padding: 0px 5px;
	width: 340px;
	float: right;
	position: relative;
	margin-top: 65px;
}

.contact-events-inner {
	border-left-style: double;
	border-right-style: double;
	border-color: #bde2e4;
	border-width: 6px;
	padding: 30px 50px;
}

.contact-events:before,
.contact-events:after {
	content: "";
	background: url('../images/frame-contact-top.png') 50% 0 no-repeat;
	background-size: contain;
	display: inline-block;
	width: 100%;
	height: 120px;
	position: absolute;
	left: 0;
	top: -70px;
	z-index: -1;
}

.contact-events:after {
	background: url('../images/frame-contact-bottom.png') 50% 100% no-repeat;
	background-size: contain;
	bottom: -70px;
	top: auto;
}

.go-back {
	padding: 0 25px;
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
	display: inline-block;
	position: fixed;
	top: 50vh;
    left: -75px;
}

.go-back:after {
	content: "";
	background: #d5c5ad;
	width: 140px;
	height: 2px;
	position: absolute;
	left: 10px;
	top: 10px;
}

.go-back:before {
	content: "";
	background: url('../images/arrow-beige-left.svg') no-repeat 0 50%;
	width: 8px;
	height: 15px;
	position: absolute;
	left: 8px;
	top: 4px;
	background-size: 9px;
}





/*   RESPONSIVE   */

/* mobile */
@media (max-width: 767px) {

	.xs-only {padding-left: 0; padding-right: 0;}
	.xs-ta-left {text-align: left !important;}
	.xs-ta-right {text-align: right !important;}
	.xs-ta-center {text-align: center !important;}

	.hidden-xs {display: none;}

	.grid-item {
		width: 50%;
	}

	.gallery-grid > a {
		padding: 25px;
	}

	.contact-events {
		width: 100%;
		max-width: 340px;
		float: none;
		display: inline-block;
		margin: 70px auto 10px;
	}

	.contact-events-inner {
		padding: 0px 10vw;
	}

}

/* tablet portait */
@media (min-width: 768px) {

	#o-wrapper {
		display: none;
	}

	.header .logo {
		width: 175px;
	}

	.site__nav {
		width: calc(100% - 180px);
	}

	.body:not(.events) main-content {
		margin-top: 120px;
	}

	.events-more {
		width: calc(100% - 340px);
	}

}

@media (min-width: 768px) and (max-width: 1023px) {

	.sm-f-right {float: right;}
	.sm-f-left {float: left;}
	.sm-f-none {float: none;}

	.sm-ta-left {text-align: left !important;}
	.sm-ta-right {text-align: right !important;}
	.sm-ta-center {text-align: center !important;}

	.logo {
		width: 120px;
	}

	.logo img {
		max-width: 120px;
		height: auto;
	}

	.site__nav {
		width: calc(100% - 120px);
	}

	.nav>li>a {
		padding: 15px 6px;
		font-size: 10px;
	}

	.text-img h3,
	.banana-slide-text h3 {
		font-size: 28px;
	}

	.banana-slide-text p,
	.text-img p {
		font-size: 14px;
	}

	h1.banana-h1, .banana-slide-right h2 {
		font-size: 120px;
	}

	.events-more > div:last-child {
		display: none;
	}

}

/* tablet landscape */
@media (min-width: 1024px) {
	.contact-form form {
		padding-right: 70px;
	}
}

@media (min-width: 1024px) and (max-width: 1199px) {

	.md-ta-left {text-align: left !important;}
	.md-ta-right {text-align: right !important;}
	.md-ta-center {text-align: center !important;}

	.events-more > div:last-child {
		display: none;
	}

	.nav>li>a {
		padding: 10px 12px;
		font-size: 13px;
	}

}

/* desktop */
@media (min-width: 1200px) {

	.container {
		max-width: 1600px;
	}

	.border-left {
		padding-left: 70px;
	}

	.banana-slide-photos {
		margin-top: 220px;
	}

	.home-slide3-title span.serif {
		font-size: 4vw;
	}
	
}

@media (min-width: 1600px) {

	.events-main-gallery:after {
		right: -30px;
	}
}